@using Microsoft.AspNetCore.Identity
@using Licenta2.Models
@using Syncfusion.EJ2

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Licenta2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Licenta2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.2.4/fluent.css" />
    <script src="https://cdn.syncfusion.com/ej2/23.2.4/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
            <nav>
                <!--<a class="navbar-brand" asp-area="" asp-page="/Index">Licenta2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->

                <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg></a></li>
                    <li class="nav-item">
                        <!--<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>-->
                        <a href="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <!--<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>-->
                        <a href="/Privacy">Privacy</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <!--<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>-->
                            <a href="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">

                            <a href="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
                <ul class="links">
                    <li class="nav-item">
                        <!--<a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>-->
                        <a href="/Index">Home</a>
                    </li>
                    <li class="hideOnMobile">
                    <!--<a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>-->
                        <a href="/Privacy">Privacy</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("admin"))
                        {
                            <li class="hideOnMobile">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Admin @UserManager.GetUserName(User)!</a>
                            </li>
                            <li class="hideOnMobile">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                </form>
                            </li>
                        }
                        else if (User.IsInRole("client"))
                        {
                            <li class="hideOnMobile">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Client @UserManager.GetUserName(User)!</a>
                            </li>
                            <li class="hideOnMobile">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                </form>
                            </li>
                        }
                        else if (User.IsInRole("seller"))
                        {
                            <li class="hideOnMobile">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Seller@UserManager.GetUserName(User)!</a>
                            </li>
                            <li class="hideOnMobile">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                </form>
                            </li>
                        }
                   @*      <li class="hideOnMobile">
                            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Identity/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                        </li>
                        <li class="hideOnMobile">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Identity/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                            </form>
                        </li> *@
                    }
                    else
                    {
                        <li class="hideOnMobile">
                            <!--<a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>-->
                            <a href="/Identity/Account/Register">Register</a>
                        </li>
                        <li class="hideOnMobile">
                        
                            <a href="/Identity/Account/Login">Login</a>
                        </li>
                    }
                <!--schimbi height si width ca sa schimbi dimensiunea iconitei-->
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z" /></svg></a></li>
                <li><a href="/Account/Manage/Index"><svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" /></svg></a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg></a></li>
                </ul>
            
            <!--<partial name="_LoginPartial-->
               
            </nav>
        <!--</nav>-->
            <script>
                function showSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'flex'
                }
                function hideSidebar() {
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'none'
                }
            </script>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li>
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>